/* Soluzione qui */
@media only screen and (min-width:768px) {
    
#topbar{ 
	justify-content: flex-start;
}
		
      
.container{ 
	padding: 40px;
}
.recipttitle{
	font-size: 20px;
}
.quick-notes ul{
	display: flex;
}
.quick-notes li {
	padding: 5px;
}
.social-network .btn{
	font-size: 40px;
}
.ads{
	display: inline;
}
.clearfix img{
	float: left;
	padding: 10px;
}
.social-network .btn{
	font-size: 40px;

}
.ads{
	display: block;
}
}

@media screen and (min-width:992px) {
	.recipe-title{
		font-size: 40px;
	}
	.quick-notes ul{
		 flex-direction: column;
		}
		
}


